*.zwc
.*.sw[op]
.*.un~
.var/zsh/history-*
config/.mono
config/Trolltech.conf
config/anjuta
config/autostart
config/configstore
config/direnv
config/dotenv/allow
config/google-chrome
config/htop
config/hub
config/hubiC
config/javascripting
config/keybase
config/learnyounode
config/lxpanel
config/menus
config/systemd
config/workshopper
config/yarn
irssi/away.log
vim/.netrwhist
xmonad/*.errors
xmonad/*.hi
xmonad/*.o
xmonad/history
xmonad/xmonad-x86_64-linux
zsh/.zcalc_history
zsh/.zcompdump
zsh/zshrc.local
