[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rainbowparenthesis"]
	path = vim/bundle/rainbowparenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/tComment"]
	path = vim/bundle/tComment
	url = https://github.com/tsaleh/vim-tcomment.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/blackboard"]
	path = vim/bundle/blackboard
	url = https://github.com/nelstrom/vim-blackboard.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
