[submodule "vim/bundle/fugitive"]
  path = vim/bundle/fugitive
  url = http://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "vim/bundle/rainbowparenthesis"]
  path = vim/bundle/rainbowparenthesis
  url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
  ignore = untracked
[submodule "vim/bundle/markdown"]
  path = vim/bundle/markdown
  url = https://github.com/tpope/vim-markdown.git
  ignore = untracked
[submodule "vim/bundle/solarized"]
  path = vim/bundle/solarized
  url = https://github.com/altercation/vim-colors-solarized.git
  ignore = untracked
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "vim/bundle/ctrlp"]
  path = vim/bundle/ctrlp
  url = https://github.com/kien/ctrlp.vim.git
  ignore = untracked
[submodule "vim/bundle/ack"]
  path = vim/bundle/ack
  url = https://github.com/mileszs/ack.vim.git
  ignore = untracked
[submodule "vim/bundle/commentary"]
  path = vim/bundle/commentary
  url = https://github.com/tpope/vim-commentary.git
  ignore = untracked
[submodule "vim/bundle/repeat"]
  path = vim/bundle/repeat
  url = https://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "vim/bundle/surround"]
  path = vim/bundle/surround
  url = https://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "vim/bundle/rails"]
  path = vim/bundle/rails
  url = https://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule "irssi/irssi-colors-solarized"]
  path = irssi/irssi-colors-solarized
  url = git://github.com/huyz/irssi-colors-solarized.git
  ignore = untracked
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule "vim/bundle/gundo"]
  path = vim/bundle/gundo
  url = https://github.com/sjl/gundo.vim.git
  ignore = untracked
[submodule "vim/bundle/buffergator"]
  path = vim/bundle/buffergator
  url = https://github.com/jeetsukumaran/vim-buffergator.git
  ignore = untracked
[submodule "vim/bundle/endwise"]
  path = vim/bundle/endwise
  url = https://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule "vim/bundle/vimux"]
  path = vim/bundle/vimux
  url = https://github.com/benmills/vimux.git
  ignore = untracked
[submodule "vim/bundle/indent-guides"]
  path = vim/bundle/indent-guides
  url = https://github.com/nathanaelkane/vim-indent-guides.git
  ignore = untracked
[submodule "vim/bundle/flake8"]
  path = vim/bundle/flake8
  url = https://github.com/nvie/vim-flake8.git
  ignore = untracked
[submodule "zsh/plugins/syntax-highlighting"]
  path = zsh/plugins/syntax-highlighting
  url = git@github.com:zsh-users/zsh-syntax-highlighting.git
  ignore = untracked
[submodule "vim/bundle/unimpaired"]
  path = vim/bundle/unimpaired
  url = git://github.com/tpope/vim-unimpaired.git
  ignore = untracked
[submodule "vim/bundle/syntastic"]
  path = vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "vim/bundle/copy-as-rtf"]
  path = vim/bundle/copy-as-rtf
  url = git@github.com:aniero/vim-copy-as-rtf.git
[submodule "vim/bundle/dispatch"]
  path = vim/bundle/dispatch
  url = git@github.com:tpope/vim-dispatch.git
[submodule "vim/bundle/turbux"]
  path = vim/bundle/turbux
  url = git@github.com:jgdavey/vim-turbux.git
[submodule "vim/bundle/supertab"]
  path = vim/bundle/supertab
  url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/multiple-cursors"]
  path = vim/bundle/multiple-cursors
  url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "tmux/tmux-powerline"]
  path = tmux/tmux-powerline
  url = git@github.com:erikw/tmux-powerline.git
  ignore = untracked
[submodule "vim/bundle/airline"]
  path = vim/bundle/airline
  url = git@github.com:bling/vim-airline.git
[submodule "vim/bundle/vroom"]
  path = vim/bundle/vroom
  url = git@github.com:skalnik/vim-vroom.git
[submodule "vim/bundle/funcoo"]
  path = vim/bundle/funcoo
  url = https://github.com/rizzatti/funcoo.vim
[submodule "vim/bundle/ruby-xmpfilter"]
  path = vim/bundle/ruby-xmpfilter
  url = git@github.com:t9md/vim-ruby-xmpfilter
[submodule "config/base16-shell"]
  path = config/base16-shell
  url = git@github.com:chriskempson/base16-shell
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search
