.*.sw[op]
.*.un~
*.zwc
vim/.netrwhist
zsh/.zcalc_history
zsh/.zcompdump
config/configstore
config/direnv
config/dotenv/allow
config/google-chrome
config/htop
config/hub
config/keybase
config/yarn
config/base16-shell
.var/zsh/history-*
zsh/zshrc.local
zsh/plugins.zsh

node_modules
coc-tabnine-data
config/coc/extensions/coc-yank-data/yank
config/coc/history.json
config/coc/mru
zsh/aliases/*_
