.*.sw[op]
.*.un~
*.zwc
vim/.netrwhist
zsh/.zcalc_history
zsh/.zcompdump
config/configstore
config/direnv
config/dotenv/allow
config/google-chrome
config/htop
config/hub
config/keybase
config/yarn
.var/zsh/history-*
zsh/zshrc.local
